#tweets {position: relative; overflow: hidden;}
#tweets-archive { display: none; }
.feed-wrapper {position: relative;}
.sidebar {position: relative; z-index: 2;}

.container noscript h1 {text-align: center; font-weight: bold; text-transform: uppercase; color: #a33; padding: 1em 0 .5em; font-size: 3.25em;}
.container noscript p { font-size: 2em; color: #666; font-weight: bold; text-align: justify; letter-spacing: .035em;}
body {color: #666;}
a {color: #333;}

.sidebar { position: fixed; top: 0;}
.header h1 { text-align: center; font-weight: bold; text-transform: uppercase; color: #a33; padding: .25em 0 .375em 0; font-size: 4em; margin-bottom: 0;}
.jitter-filters { padding-bottom: 1em; }
.jitter-filter {display: block; padding: .5em 0; text-decoration: none; position: relative; border-bottom: 1px solid #dfdfdf; color: #777; text-transform: uppercase;}
.jitter-filter.active {background: #fee;}
.jitter-filter.active .show-filter {font-weight: bold;}
.jitter-filter .show-filter { margin-left: 32px; text-decoration: none;}
.jitter-filter .twitter-rss {position: absolute; left: 8px;}
.jitter-filter .delete-filter {position: absolute; right: 6px; top: .62em;}
.jitter-filters .unreadCount {
  position: absolute;
  text-align: center; 
  padding: .25em .5em; 
  top: .25em;
  left: -3.75em;
  background: #bbb; 
  width: 2em;
  color: #fff;
  font-weight: bold;
  -moz-border-radius: .5em;
  -webkit-border-radius: .5em;
}

.tweet {border-bottom: 1px solid #dfdfdf; padding: 1em 0; opacity: .875;}
.tweet.read {opacity: 0.5;}
.tweet.read .tweet-body {text-decoration: line-through;}
.tweet.current .tweet-body {text-decoration: none;}
.tweet.current {background: #f5f5f5; opacity: 1; text-decoration: none;}
.tweet .created-at {font-size: .9em;}
.tweet .author .display-name {font-weight: bold; font-size: 1.2em;}
.tweet .tweet-body {font-size: 1.5em; font-weight: 500;}
.tweet .tweet-image img {position: relative; left: 12px;}

.forms { padding-top: 1em; clear: both;}
.jitterForm {background: #f5f5f5;}
.jitterForm label {display: block; color: #777; font-weight: normal; letter-spacing: 0.075em;}
.jitterForm {padding: 0;}

.jitterForm fieldset {margin:0; padding: 2em 10px 0 10px; border: 0; position: relative;}
.jitterForm legend {border-bottom: 1px solid #ccc; display: block; height: 2.5em; width: 100%;}
.jitterForm legend span {
  text-transform: uppercase; color: #a33; font-weight: normal; font-size: 1em;
  display: block;
  position: absolute;
}
.jitterForm fieldset input[type=submit] { position: absolute; bottom: .75em; right: 20px;}
input.hint, textarea.hint {color: #bbb; text-transform: lowercase;}

.cheatsheet {padding-left: 8px;}
.cheatsheet dt {float: left; width: .5em; clear: both;}
.cheatsheet dd {float: left;}
.cheatsheet dt, .cheatsheet dd {padding: 0 0 .5em 0;}